<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>Cahier de vie</title>
  <meta http-equiv="content-type" content="text/html charset=UTF-8">
</head>
<body style="background-position-y: 6rem;padding-top: 4rem;margin-left: 9.5rem; background-repeat:repeat-y; background-image:url('http://moncahierdevie.com/images/cahier-fond2.jpg');">
    <div id="main" style="top:0;left:0;width:951px;height:100%;min-height: 1041px;position:absolute;z-index:-1; background-image:url('http://moncahierdevie.com/images/cahier-fond-main.jpg');"></div>
    <div id="droit" style="top:0;left:951px;width:458px;height:100%;min-height: 1120px;position:absolute;z-index:-1; background-image:url('http://moncahierdevie.com/images/cahier-fond-droit.jpg');"></div>
  <section style="font-size: 2rem;">
        Cahier de vie de la journée du <%=date%>
  </section>
  <section>
    <ul class="events" style="padding: 0;padding-top: 1rem;margin: 0;font: inherit;color: inherit;border: none;cursor: default;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;overflow: auto;-webkit-overflow-scrolling: touch;">
      <% _.each(events, function( event ){ %>
      <li style="max-width: 775px;margin-top: 1rem;padding: 0;border-radius: 1rem;padding-top: 1rem;padding-bottom: 0;list-style-type:none;">
        <div class="time" style="background-color: #FFF; margin-top: -1.26rem; padding-left: 1rem; color: rgb(99, 0, 39); line-height: 2rem;font-size: 15pt;border-radius: 1rem;"><%=event.time%></div>
        <div class="contenu">
            <h2><%=event.title%></h2>
            <pre><%=event.desc%></pre>
        </div>
        <div class="pictures">
            <% _.each(event.pictures, function( picture ){ %>
                <img src="<%=picture%>" alt="<%=event.title%>" style="height: 250px;" />
              <% }); %>
        </div>
      </li>
      <% }); %>
      </ul>
  </section>
  <section>
    <a href="http://www.moncahierdevie.com">Visitez notre site Web.</a>
  </section>
  <p>
    Merci,
    <br />
    Nounou team
  </p>
  <div id="bas" style="top:0;left:0;width: 951px;height: 36px;margin-left:-9.5rem;margin-bottom: -2rem; background-repeat:repeat-y;background-image:url('http://moncahierdevie.com/images/cahier-fond-bas.jpg');"></div>
</body>
</html>