<!-- invite.html -->
<html>
<head>
  <title>Cahier de vie</title>
</head>
<body>
  <p>
    <%=idEnfant%> <%=date%>,
  </p>
  <p>
    Blabla...
    <br />
    Evènements de la journée :
      <% _.each(events, function( event ){ %>
        <h2><%=event.title%></h2>
        <p><%=event.desc%></p>
            <% _.each(event.pictures, function( picture ){ %>
                <img src="<%=picture%>"></img>
              <% }); %>
      <% }); %>
  </p>
  <p>
    <a href="http://myapp.com/register?invite=<%=id%>">http://myapp.com/register?invite=<%=id%></a>
  </p>
  <p>
    Merci,
    <br />
    Nounou team
  </p>
  <p>
    <a href="http://myapp.com"><img src="cid:logo@myapp" /></a>
  </p>
</body>
</html>